Binaries
DerivedDataCache
Intermediate
Saved
GoodSky
AdvancedVillagePack
AnimalVarietyPack
Food_Pack_01
ProceduralNaturePack
DownloadedContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace